body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: black;
  background-color: whitesmoke;
  margin: 40px;
  background-image: url('https://images.pexels.com/photos/1519088/pexels-photo-1519088.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: gray;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: flex;
  justify-content: flex-end;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: line;
}

.navbar li a:hover {
  background-color: #ddd;
}

.navbar {
  position: relative;
}

.navbar .search {
  position: absolute;
  top: 25%;
  right: 0;
  
}

.navbar input[type="search"] {
  width: 250px; height: 25px;
}

.section-about {
  
  border: 1px solid #ccc;
  padding: 50px;
  text-align: center; 
  color: white;
  background-position: center;
}

.section-work {
  
  border: 1px solid #ccc;
  padding: 50px;
  text-align: center;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-cv {
  border: 1px solid #ccc;
  padding: 50px;
  text-align: center;
  color: white;
}

.section-contact {
  
  border: 1px solid #ccc;
  padding: 50px;
  text-align: center;
  color: white;
}

#extras {
  padding: 50px;
  text-align: center;
  border: 1px solid white;
}

#extras h2 {
  color: white;
}

#extras video,
#extras audio,
#extras a,
#extras ul,
#extras table {
  margin: 20px auto;
}
  
.cv-image {
  width: 300px;
  height: auto; 
}
 
.audio-container {
  border: 1px solid blanchedalmond ;
  padding: 10px;
}

.bold-link {
  font-weight: bold;
  color: #f2f2f2;
}

.bold-table {
  font-weight: bold;
  color: white;
}

.bold-list ul {
  font-weight: bold;
  color: #f2f2f2;
}

table {
  border: 1px solid white;
  border-collapse: 5px;
  border-spacing: 0px;
}
th, td {
  padding: 10px;
}
.footer {
  text-align: center;
  padding: 20px;
}
.footer p {
  color: white;
  font-size: 14px;
}
#extras .bold-link:hover {
  color: aqua;
}
